<!DOCTYPE html>
<html>
<head>
  <title>OpenLayers Map</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" integrity="sha256-rQq4Fxpq3LlPQ8yP11i6Z2lAo82b6ACDgd35CKyNEBw=" crossorigin="anonymous" />
  <style>
  #map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  </style>
</head>
<body onload="init()">
<div id="map"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js" integrity="sha256-77IKwU93jwIX7zmgEBfYGHcmeO0Fx2MoWB/ooh9QkBA=" crossorigin="anonymous"></script>
<script>
function init() {
  fetch("/tiles.json")
  .then((response) => {
    return response.json();
  })
  .then((providers) => {
    drawMap(providers);
  })
  .catch((err) => {
    console.warn("Cannot load tiles", err);
  });

  function drawMap(tileProviders) {
    let layers = tileProviders.map((provider) => {
      return new ol.layer.Tile({
        extent: ol.proj.transformExtent(provider.bounds, 'EPSG:4326', provider.srs),
        source: new ol.source.XYZ({
          attributions: provider.attribution,
          maxZoom: provider.maxzoom,
          minZoom: provider.minzoom,
          projection: provider.srs,
          url: provider.tiles[0] + "{z}/{x}/{y}.png"
        })
      })
    });

    let view = new ol.View({
      center: ol.proj.fromLonLat([tileProviders[0].default.longitude, tileProviders[0].default.latitude]),
      zoom: tileProviders[0].default.zoom
    });

    let map = new ol.Map({
      layers: layers,
      target: 'map',
      view: view
    });
  };
}
</script>
</body>
</html>